
<div class="home">
  <div class="home-page">
    <h1>Find a Job in your area</h1>
   </div>


  <div class="fields">  
    <%= link_to jobs_path, :class => 'button' do %>
      <div class="find-job">
      </div>
    <% end %>

    <%= link_to new_job_path, :class => 'button' do %>
      <div class="post-job">
        <h2>Post a Job</h2>
      </div>
    <% end %>
</div>